<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<h1>Hi, <%= @reservation.name %></h1>
		<p>This is a cancellation email for your reservation. We are sorry to hear you cancel your reservation. Details for your cancelled reservation are listed below.</p>
		<table>
			<thead>
				<tr>
					<th>Date</th>
					<th>Time</th>
					<th>Guests</th>
					<th>Name</th>
					<th>Email</th>
					<th>Phone</th>
					<th>Special Requests</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td> <%= @reservation.date %> </td>
					<td> <%= @reservation.time.strftime("%I:%M%p") %> </td>
					<td> <%= @reservation.guests %> </td>
					<td> <%= @reservation.name %> </td>
					<td> <%= @reservation.email %> </td>
					<td> <%= @reservation.phone %> </td>
					<td> <%= @reservation.requests %> </td>
				</tr>
			</tbody>
		</table>
	</body>
</html>