<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<h1>A new reservation has been made.</h1>
		<table>
			<thead>
				<tr>
					<th>Date</th>
					<th>Time</th>
					<th>Guests</th>
					<th>Name</th>
					<th>Email</th>
					<th>Phone</th>
					<th>Special Requests</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td> <%= @reservation.date %> </td>
					<td> <%= @reservation.time.strftime("%I:%M%p") %> </td>
					<td> <%= @reservation.guests %> </td>
					<td> <%= @reservation.name %> </td>
					<td> <%= @reservation.email %> </td>
					<td> <%= @reservation.phone %> </td>
					<td> <%= @reservation.requests %> </td>
				</tr>
			</tbody>
		</table>

		<%= link_to "View Reservation", "0.0.0.0:3000" + reservation_path(@reservation) %>
	</body>
</html>